$color-primary1:#af460f;
$color-primary2:#fddc3ac0;

$color-primary1-dark:darken(#af460f, 20%);
$color-primary1-light:lighten(#af460f, 10%);


html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.5em;
    font-family: 'Comfortaa', cursive;
    // background-image: url(/media/image2.jpeg);
    // background-blend-mode: lighten;
    // background-size: cover;
    // background: linear-gradient(to right, $color-primary2 10%, $color-primary1-light);
}

.sidebar {
    // float: left;
    display: inline-block;
    // border: 2px solid black;
    width: 25%;

    &--logo {
        text-align: center;

        &__img {
            width: 10rem;
            height: 10rem;
        }
    }

    &--features {
        li {
            padding: 1rem;
            list-style-image: url(/media/tick.png);
        }

    }
}

.content {
    margin-top: 0;
    background-color: transparent;
    // float: left;
    // border: 2px solid black;
    border-radius: 20px;
    display: inline-block;
    width: 70%;
    height: 600px;

    .nav-bar-container {
        height: 15rem;

        .nav-bar {
            float: right;
            padding: 1.6rem;
            margin: 1rem;
            font-size: 2rem;
            font-weight: bold;

            &--logo {
                display: inline-block;

                &__img {
                    width: 3rem;
                    height: 2.5rem;
                }
            }

            &--items {
                display: inline-block;
                
                a {
                    color: black;
                    text-decoration: none;
                    padding-left: 1rem;
                    margin-left: 2rem;
                    transition: all .3s;
                    &:hover{
                        color:#8cba51;
                    }
                }
            }


        }
    }


    .jobsearch {

        // height: 600px;
        // background-image: url(/media/image1.jpeg);
        // background-size: cover;

        &--container {
            text-align: center;
            padding-top: 3rem;
            width: 70%;
            margin: 0 auto;
        }


        .form {

            .form-container {
                width: 30%;
                margin: 2rem auto;
            }

            &--input {
                .text--input {
                    width: 100%;
                    display: block;
                    color: inherit;
                    padding: 1rem;

                    border: 1px solid black;
                    border-radius: 1rem;
                    // border-bottom: 3px solid transparent;

                    &:focus {
                        transition: all .5s;
                        transform: scale(1.1);
                        outline: none;
                        box-shadow: 0 1.5rem 2rem rgba(black, .1);
                        border-bottom: 3px solid $color-primary1;
                    }

                    &:placeholder-shown+label {
                        //+ selector is sibbling selector adjacent sibbling > is not used bcoz label is not child of input
                        opacity: 0;
                        visibility: hidden;
                        transform: translateY(-4rem);

                    }
                }

                label {
                    font-size: 1.2rem;
                    font-weight: 700;
                    margin-left: 1.8rem;
                    margin-top: 1rem;
                    display: block;
                    transition: all .3s;

                }

            }

            input[type=submit] {
                width: 50%;
                outline: none;
                border: none;
                padding: 1rem;
                border-radius: 2rem;
                background-color: #8cba51;
            }


        }
    }
}

.signup--page {
    // background-color: wheat;
    text-align: center;
    // border: 2px solid black;
    padding-top: 2rem;
    margin-top: 2rem;
    width: 100%;

    .form {
        .form-container {
            width: 30%;
            margin: 2rem auto;
        }

        &--input {
            margin: 1rem;

            .text--input {
                width: 90%;
                display: block;
                color: inherit;
                padding: 1rem;
                // border: 1px solid black;
                border-radius: 1rem;
                border-bottom: 3px solid transparent;

                &:focus {
                    transition: all .5s;
                    transform: scale(1.1);
                    outline: none;
                    box-shadow: 0 1.5rem 2rem rgba(black, .1);
                    border-bottom: 3px solid $color-primary1;
                }

            }

        }

        .submit-btn {
            input[type=submit] {
                width: 50%;
                outline: none;
                border: none;
                padding: 1rem;
                border-radius: 2rem;
                background-color: #8cba51;
            }
        }
    }
}