html {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.5em;
  font-family: 'Comfortaa', cursive;
}

.sidebar {
  display: inline-block;
  width: 25%;
}

.sidebar--logo {
  text-align: center;
}

.sidebar--logo__img {
  width: 10rem;
  height: 10rem;
}

.sidebar--features li {
  padding: 1rem;
  list-style-image: url(/media/tick.png);
}

.content {
  margin-top: 0;
  background-color: transparent;
  border-radius: 20px;
  display: inline-block;
  width: 70%;
  height: 600px;
}

.content .nav-bar-container {
  height: 15rem;
}

.content .nav-bar-container .nav-bar {
  float: right;
  padding: 1.6rem;
  margin: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

.content .nav-bar-container .nav-bar--logo {
  display: inline-block;
}

.content .nav-bar-container .nav-bar--logo__img {
  width: 3rem;
  height: 2.5rem;
}

.content .nav-bar-container .nav-bar--items {
  display: inline-block;
}

.content .nav-bar-container .nav-bar--items a {
  color: black;
  text-decoration: none;
  padding-left: 1rem;
  margin-left: 2rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.content .nav-bar-container .nav-bar--items a:hover {
  color: #8cba51;
}

.content .jobsearch--container {
  text-align: center;
  padding-top: 3rem;
  width: 70%;
  margin: 0 auto;
}

.content .jobsearch .form .form-container {
  width: 30%;
  margin: 2rem auto;
}

.content .jobsearch .form--input .text--input {
  width: 100%;
  display: block;
  color: inherit;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 1rem;
}

.content .jobsearch .form--input .text--input:focus {
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  outline: none;
  -webkit-box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #af460f;
}

.content .jobsearch .form--input .text--input:placeholder-shown + label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
          transform: translateY(-4rem);
}

.content .jobsearch .form--input label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 1.8rem;
  margin-top: 1rem;
  display: block;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.content .jobsearch .form input[type=submit] {
  width: 50%;
  outline: none;
  border: none;
  padding: 1rem;
  border-radius: 2rem;
  background-color: #8cba51;
}

.signup--page {
  text-align: center;
  padding-top: 2rem;
  margin-top: 2rem;
  width: 100%;
}

.signup--page .form .form-container {
  width: 30%;
  margin: 2rem auto;
}

.signup--page .form--input {
  margin: 1rem;
}

.signup--page .form--input .text--input {
  width: 90%;
  display: block;
  color: inherit;
  padding: 1rem;
  border-radius: 1rem;
  border-bottom: 3px solid transparent;
}

.signup--page .form--input .text--input:focus {
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  outline: none;
  -webkit-box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #af460f;
}

.signup--page .form .submit-btn input[type=submit] {
  width: 50%;
  outline: none;
  border: none;
  padding: 1rem;
  border-radius: 2rem;
  background-color: #8cba51;
}
/*# sourceMappingURL=styles.css.map */