<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>JobRecommendation</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles.css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">

</head>

<body>
    <div class="HomePage">
        <div class="sidebar">
            <div class="sidebar--logo">
                <img class="sidebar--logo__img" src="/media/logo.png" alt="" srcset="">
                <h1>JobRecommendation System</h1>
            </div>
            <div class="sidebar--features">
                <div>
                    <ul>
                        <li>Easy Findings</li>
                        <li>All Aspects Considered</li>
                        <li>Best Career Line</li>
                        <li>Highest Salary</li>
                        <li>Easy Findings</li>
                        <li>Best Career Line</li>
                        <li>Salary </li>
                        <li>Nahi pata</li>
                        <li>Nahi pata</li>


                    </ul>
                </div>
            </div>
        </div>
        <div class="content">
            <nav>
                <div class="nav-bar-container">
                    <div class="nav-bar">
                    <div class="nav-bar--logo">
                        <img class="nav-bar--logo__img" src="/media/logo.png" alt="" srcset="">
                    </div>
                    <div class="nav-bar--items">
                        <a href="#" target="#" rel="noopener noreferrer">Home</a>
                        <a href="#" target="#" rel="noopener noreferrer">About</a>
                        <a href="#" target="#" rel="noopener noreferrer">ContactUs</a>
                        <a href="#signup--page"  rel="noopener noreferrer">SignUp</a>
                        <a href="#" target="#" rel="noopener noreferrer">Login</a>

                    </div>
                </div>
                </div>
            </nav>
            <div class="jobsearch">
                <div class="jobsearch--container">
                    <h2>Find the job that fits your life</h2>
                    <p>Time to search for dream job.Step towards your goals. </p>
                </div>
                <section class="form">
                    <div class="form-container">
                        <form action="/output" method="POST">
                            <div class="form--input">
                                <input class="text--input" type="text" name="skillsearch" id="skillsearch"
                                    placeholder="Enter Your Skills:">
                                <label for="skillsearch">Eg:- Skill1,Skill2</label>
                            </div>
                            <div class="form--input">

                                <br>
                                <input class="text--input" type="text" name="intrest" id="interest"
                                    placeholder="Enter Your Interests:">
                                <label for="interest">Eg:- Interest,Interest </label>
                            </div>
                            <div class="form--input">

                                <br>

                                <input class="text--input" type="text" name="parentrecommendation"
                                    id="parentrecommendation" placeholder="Enter Parents Recommendation :">
                                <label for="skillsearch">Eg:- Recommendation1, Recommendation2</label>
                            </div>

                            <div class="submit-btn">
                                <input type="submit" value="Search">
                            </div>
                        </form>
                    </div>
                </section>

            </div>
        </div> 
        <!-- End of content div -->
    </div>

    

    <div class="signup--page" id="signup--page">
        <h2>Not a member? Sign Up Here</h2>
        <section class="form">
            <div class="form-container">
                <form action="#" method="GET">
                    <div class="form--input">
                        <input class="text--input" type="text" name="namme" id="username"
                            placeholder="Enter Your Name:">
                     </div>
                    <div class="form--input">
                        <input class="text--input" type="email" name="email" id="emailid"
                            placeholder="Enter Your Email:">
                    </div>
                    <div class="form--input">
                        <input class="text--input" type="password" name="skillsearch" id="password"
                            placeholder="Enter Your password">
                    </div>

                    <div class="submit-btn">
                        <input type="submit" value="SignUp" onclick="#">
                    </div>
                </form>
            </div>
        </section>
    </div>
</body>


</html>