<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Output</title>
            <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
<div class="output_skills">
    <h2> Jobs Based on Your Skills :- </h2>
        <ul>
        {% for job in post %}
            <li><p>{{ job }}</p></li>
        {% endfor %}
        </ul>
</div>
<div class="output_intrests">
        <h2> Jobs Based on Your Intrests :- </h2>
        <ul>
        {% for job in out_intrest %}
            <li><p>{{ job }}</p></li>
        {% endfor %}
        </ul>
</div>
<div class="output_parents">
            <h2> Jobs Based on Your Parents Recommendation :- </h2>
        <ul>
        {% for job in out_parents %}
            <li><p>{{ job }}</p></li>
        {% endfor %}
        </ul>
</div>
</body>
</html>